*.iml
*.ipr
*.iws
.gradle/
.kotlin/
/local.properties
.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild/
.cxx/
local.properties
/app/release
keystore.properties
*.apk
*.aab
*.ap_
*.jks
*.keystore
