<div class="cat_info"> {{title_category}}: <b>{{cat_name}}</b>
</div>
<table>
    <tr class="cat_header_row">
        <th>{{title_start_time}}</th>
        <th>{{title_name}}</th>
        <th>{{title_start_number}}</th>
        <th>{{title_si_number}}</th>
        <th>{{title_club}}</th>
    </tr>