<div class="cat_info"> {{title_category}}: <b>{{cat_name}}</b>&nbsp;&nbsp;{{title_limit}}: <b>{{cat_limit}}</b>
    &nbsp;&nbsp;{{title_band}}: <b>{{cat_band}}</b> &nbsp;&nbsp;{{title_length}}: <b>{{cat_length}}
        m</b> &nbsp;&nbsp;{{title_controls}}: <b>{{cat_controls}}</b>
</div>
<table>
    <tr class="cat_header_row">
        <th>{{title_place}}</th>
        <th>{{title_name}}</th>
        <th>{{title_club}}</th>
        <th>{{title_index}}</th>
        <th>{{title_points}}</th>
        <th>{{title_run_time}}</th>
        <th>{{title_splits}}</th>
    </tr>